picture {
    float: right;
}

main {
    margin: 4em 0;
}

nav {
    padding: 1.7em 0;
}

nav li a {
    color: #000;
}

nav li a:hover {
    border-bottom: 2px solid #cc0000;
    background-color: #fff;
    color: #000;
}

footer {
    color: #fff;
    background-color: #9a0000;
    clear: both;
    margin: auto;
    position: relative;
}

h1 {
	font-family: UniversCondensed,Arial,sans-serif;
}

button {
    background-color: #c00;
    margin-bottom: 20px;
    width: 200px;
}

button a {
    color: #fff;
}

.btn {
    display: block;
    margin-bottom: 20px;
}

.landing-header {
    background-color: #c00;
    color: #fff;
    margin: 0 9px;
}

.top-section {
    padding-top: 3em;
    padding-left: 15em;
}

.phone {
    font-weight: 600;
}

.learn-link {
	color: #fff;
}

.season-text {
	font-family: UniversCondensed,Arial,sans-serif;
	font-weight: 700;
	padding-bottom: 20px;
	color: #c00;
}

.main-footer {
    padding: 2em 0;
}

.social {
    margin-top: 22px;
}

.sub-footer {
    background-color: #fff;
    color: #c00;
    padding: 15px 0;
}

.sub-footer address {
    float: right;
    max-height: 40px;
    padding: 0 15px;
    font-size: 1.1em;
    line-height: 1.8;
    margin: 0;
    padding-top: 10px;
}

.sub-footer h4 {
    float: left;
    font-family: UniversCondensed;
    font-size: 30px;
    margin: 0;
}

.card-footer {
    background-color: #fff;
}

.footer2 {
    border-top: none;
}

.weblink {
    display: block;
}

.img-header {
    padding-left: 0px;
}

.event-card {
	padding-left: 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 8px rgba(33, 33, 33, .2);
    transition: box-shadow .3s;
}

.event-card:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

.member-card {
	padding-bottom: 20px;
	margin-bottom: 30px;
    box-shadow: 0 0 8px rgba(33, 33, 33, .2);
    transition: box-shadow .3s;	
}

.card-block {
	padding-left: 15px;
}

.member-card:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);	
}

.info-card {
	background-color: #c00;
	color: white;
	margin-top: 90px;
}

.calendar {
    margin-top: 150px;
}

#memberLabs {
	padding-top: 50px;
}